/* Comment in css */

/* 
NB: Easy way to comment ...
Write a line, select and use CTRL + / 
*/

.logo_img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.logo_heading {
    background-color: red;
    padding: 20px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: overline;
}

header {
    background-color: black;
}

body {
    background-color: darkslategray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
    text-decoration: underline;
}

.cars {
    font-size: 18pt;
    list-style-type: square;
    background-color: black;
    width: 400px;
}


.cars li:nth-child(5){
    font-style: italic;
} 

footer {
    text-align: center;
}
